@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

*, *::before, *::after {
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0;
  font: inherit; }

html {
  color-scheme: dark light; }

body {
  min-height: 100vh; 
  font-family: 'Roboto Slab', serif;
}

img, picture, svg, video {
  display: block;
  max-width: 100%; }

/* Variables */
:root{
  --red_bg : #800000;
  --golden : #f5b21e;
}
/* Utilities */

.btn-custom{
  background-color: var(--red_bg);
  color: var(--golden);
}

.golden{
  color: var(--golden);
}
.bg-golden{
  background-color: #f5b21e;
}

/* Navbar */

/* .container-fluid{
  padding: 5px;
} */
.logo{
  margin-left: 5px;
}

/* showcase */

.showcase-container{
  background: url(../assets/showcase.jpg) center center /cover;
  max-width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}

.heading{
  font-size: 40px;
  color: var(--red_bg);
}

.info{
  display: grid;
  max-width: 80%;
  background-color: rgba(240, 248, 255, 0.501);
  border-radius: 20px;
}

.ul-info{
  list-style: none;
  color: var(--red_bg);
  font-size: 24px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.li-info{
  margin: 10px 20px;
}

.room-conatiner{
  background-color: #a20000d0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 2rem;
  max-width: 100%;
  height: 500px;
  color: white;
}

.room-info{
  text-align: center;
  margin-top: 5rem;
}

.room-img{
  margin: auto;
  width: 80%;
}




.nearby-conatiner{
  display: flex;
  margin:auto;
  padding: 2rem;
  max-width: 100%;
  height: fit-content;
}

.scene-img{
  width: 85%;
  border-radius: 10px;
}
.scene{
  margin: 2rem;
}

.scene:hover{
  scale: 1.05;
  transition: all 0.5s ease-in-out;
}

.scene-text{
  font-size: 24px;
  margin-top: 20px;
}

.exp-container{
  background-color: #f5b21e;
  padding: 1rem 2rem;
}
.exp-text{
  color: white;
  font-size: 35px;
  margin-top: 2rem;
  text-decoration: underline;
}

.footer{
  background-color: rgb(57, 56, 56);
  color: white;
  text-align: center;
  padding: 2rem;
}


@media only screen and (max-width: 784px) {
  .room-conatiner{
    display: flex;
    flex-direction: column;
  }
  .nearby-conatiner{
  display: flex;
  flex-direction: column;
  margin:auto;
  }

  .scene-img{
    margin:auto;
  }
}